// CONTACTS

.header-contacts {
  @extend %list;
  display: flex;
  margin-left: auto;
}

.header-contacts__link {
  @extend .header-nav__link;

  display: flex;
  align-items: center;
  color: $secondary-text-color;
  transition: fill $duration $timing-function;
  @extend %link;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-contacts__item:last-child {
  margin-left: 50px;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
